<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>People</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      {{item.name}}
    </button>

  </ion-list>
</ion-content>
